<h1>Product Application</h1>
<div class="chooseCur" *ngIf="codes.length > 0">
  <mat-form-field appearance="fill">
    <mat-label></mat-label>
    <mat-select [(value)]="selectedCode">
        <mat-option *ngFor="let code of codes" [value]="code.currencycode">
            {{ code.countryCode }}
        </mat-option>
    </mat-select>
  </mat-form-field>
  <p>{{selectedCode}}</p>
</div>

<div class="products">
  <mat-card class="product-card" *ngFor="let product of products">
    <mat-card-title>{{product.name}}</mat-card-title>
    <mat-card-content>
      <p>{{product.description}}</p>
      <h3>{{product.price | currency: selectedCode }}</h3>
    </mat-card-content>
  </mat-card>
</div>